---
layout: default
---
<main class="body-wrap">
  <section class="container">
    <div class="content">
      <div class="content-block">
        <h1>Design Assets</h1>
      </div>
      <div class="main">
        <div class="content-wrap">
          {% include header.html %}
          {% include collection.html %}
        </div>
      </div>
        <section class="footer">
          <div class="content-block">
          {% include footer.html %}
          </div>
        </section>
    </div>
  </section>
</main>
